body{
	font-family: 'Raleway'
}

.title{
	font-family: 'Lilita One';
	font-size: 70px;
}

.brawlers h2{
	font-size: 35px;
}

.title-brawler{
	font-family: 'Lilita One';
	font-size: 50px;
}

.cover{
	background-image: url('../images/background.jpg');
	color: white;
}

.brawlers{
	color: #1F313C;
}

.menu{
	font-size: 24px;
}

.menu ul {
	font-family: 'Lilita One';
}